html, *{
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', 'ui-sans-serif', 'system-ui', sans-serif;
    font-size: 14px;
    color: #f3f4f6;
    font-weight: 400;
}

html{
    background-color: #0b0f19;
}

#app{
    padding: 1rem;
}

h1{
    font-size: 18px;
    font-weight: 800;
}

.btnAdd{
    background-color: #f97316;
    border-color: #f97316;
    border-radius: .4rem;
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    font-size: 16px;
    padding: .4rem 2rem .4rem 2rem;
    margin-bottom: .2rem;
    margin-right: .2rem;
}

.btnAdd:hover{
    cursor: pointer;
}

.btnAdd:active{
    background-color: #fb8a39;
}

.labelWButton{
    display: flex;
    margin-bottom: .2rem;
}

.labelWButton > h3{
    gap: 1rem;
}

.button{
    border: none;
    width: 2rem;
    background-color: transparent;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    background-color: #233154;
}

.textarea{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #1f2937;
    border-color: #374151;
    border-style: solid;
    border-width: 1px;
    border-radius: .4rem;
}

hr{
    margin-bottom: 1rem;
}

.box{
    background-color: #1f293740;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

h4{
    font-size: 16px;
    font-weight: 600;
}

.file{
    color: darkgrey;
    margin-bottom: .4rem;
}

.img{
    width: 100%;
    border-radius: .4rem;
}

.url{
    text-decoration: none;
    display: block;
}

.url:hover{
    cursor: pointer;
}

.url:active{
    background-color: #233154;;
}

.labelWButton > input{
    flex-grow: 1;
    background-color: #1f2937;
    border-color: #374151;
    border-style: solid;
    border-width: 1px;
    border-radius: .4rem;
    padding: .4rem;
}

.textAreaWButton{
    display: flex;
    
}

.textAreaWButton > textarea{
    flex-grow: 1;
    background-color: #1f2937;
    border-color: #374151;
    border-style: solid;
    border-width: 1px;
    border-radius: .4rem;
    padding: .4rem;
}

.exitForm{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);
}

.form{
    background-color: #111827;
    margin: 5%;
    padding: 5%;
    border-radius: .4rem;
}

.labelWInput{
    margin-bottom: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labelWInput > input{
    width: 84%;
    padding: .4rem;
    color: #0b0f19;
}

#txtPrompts{
    width: 84.3%;
    padding: .4rem;
    color: #0b0f19;
}

.buttonWButton{
    display: flex;
    justify-content: space-between;
    gap: .2rem;
}

.buttonWButton > button{
    width: 100%;
    border-radius: .4rem;
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    font-size: 16px;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.btnComplete{
    background-color: #f97316;
    border-color: #f97316;
}

.btnComplete:hover{
    cursor: pointer;
}

.btnComplete:active{
    background-color: #fb8a39;
}

.btnCancel{
    background-color: #1f2937;
    border-color: #1f2937;
}

.btnCancel:hover{
    cursor: pointer;
}

.btnCancel:active{
    background-color: #374151;
}

.hidden{
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1147px) {
    .container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box{
        width: 45%;
    }

    .img{
        width: 40%;
    }
}

@media screen and (min-width: 1148px) and (max-width: 1600px) {
    .container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box{
        width: 30%;
    }

    .img{
        width: 40%;
    }
}

@media screen and (min-width: 1601px){
    .container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box{
        width: 22%;
    }

    .img{
        width: 60%;
    }
}